.btn {
  border-radius: 0.3em;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.07em;
  background: #000;
  color: white;
  padding: 0.92em;
  border: 0;
}

